.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-form input,
.login-form input,
.login-form a {
    font-size: 1.5rem;
    display: block;
    margin: 10px auto;
}

.login-form a {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border: 1px solid white;
    cursor: pointer;
}

.login-form a:hover {
    background-color: white;
    color: black;
}