* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: url("/assets/fonts/dos_font.woff");
}

@font-face {
    font-family: 'Raster';
    src: url("/assets/fonts/raster_font.ttf");
}

body {
    font-family: monospace, sans-serif;
    background-color: black;
    color: white;
}

body.alt-font {
    font-family: 'Perfect DOS VGA 437', sans-serif;
}

.fontToggle {
    font-family: 'Perfect DOS VGA 437', sans-serif;
}

.fontToggle.alt-font {
    font-family: monospace, sans-serif;
}

p {
    margin-top: 30px;
    line-height: 1.5
}

.bullet-points {
    margin-left: 40px;
    line-height: 1.5;
}

.container {
    display: grid;
    grid-template-columns: 16% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sidebar content";
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    padding: 15px;
}

.sidebar {
    grid-area: sidebar;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr auto auto;
    border: 2px solid white;
    margin: 10px;
    position: relative;
    min-height: 90vh;
}

.sidebar-div {
    white-space: normal;

}



.nav-links ul {
    list-style: none;
    padding: 0;
}

.sidebar-div a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    margin: 2px;
}


.sidebar-div a:hover {
    color: black;
    background-color: white;
    font-weight: bolder;
}

.frontpage .nav-links a.frontpage,
.express .nav-links a.express,
.nodejs .nav-links a.nodejs,
.nodemon .nav-links a.nodemon,
.client-server-model .nav-links a.client-server-model,
.type-coercion .nav-links a.type-coercion,
.learning-goals .nav-links a.learning-goals,
.joeys .nav-links a.joeys,
.import-export .nav-links a.import-export,
.javascript .nav-links a.javascript,
.rest-api-design .nav-links a.rest-api-design,
.admin a.admin {
    color: black;
    background-color: white;
    font-weight: bold;
}

.misc a,
.admin a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 2px;
    bottom: 10px
}

.misc {
    border-top: 2px solid white;
}

.content {
    grid-area: content;
    margin: 10px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid white;
    min-height: 90vh;
    overflow-y: auto;
    overflow-x: auto;

}

pre {
    border: 1px solid white;
    margin-left: 30px;
    padding-top: 25px;
    padding-left: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 25px;
    width: fit-content;
    font-size: larger;
    position: relative;
}


code::before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    color: #fff;
    font-size: small;
  }

  code.language-js::before {
    content: "JavaScript";
  }

  code.language-html::before {
    content: "HTML"
  }

  code.language-terminal::before {
    content: "Terminal"
  }

  code.language-json::before {
    content: "JSON"
  }


.code-snippet {
    background-color: #282c34;
    font-family: monospace;
}

.terminal-snippet {
    background-color: rgb(1, 36, 86);
    font-family: monospace;
}



.content::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.content::-webkit-scrollbar-track {
    background: none;
}

.content::-webkit-scrollbar-thumb {
    background: black;
    border-right: 10px solid white;
}



.content::-webkit-scrollbar-thumb:horizontal {
    background: black;
    border-bottom: 10px solid white;
}

.content::-webkit-scrollbar-corner {
    height: 0;
    width: 0;
}



@media screen and (max-width: 760px) {
    .container {
      grid-template-columns: 1fr; /* Change to a single column layout */
      grid-template-areas:
      "sidebar"  
      "content"; 
    }
  
    .sidebar {
      grid-area: sidebar;
      margin: 0; /* Remove margin to save space */
      min-height: auto; /* Allow the sidebar to adjust its height based on content */
    }
    
    .content {
      margin: 0; /* Remove margin to save space */
      padding: 15px;
    }

    pre {
        font-size: smaller;
        word-break:break-word;

    }
  }